/Lab3/JavaFXLayouts/dist/
/Lab3/JavaFX_Layouts/nbproject/private/
/Lab3/JavaFX_Layouts/build/
/Lab3/JavaFX_Layouts/dist/
/Lab3/DDL_Query/nbproject/private/
/Lab3/DDL_Query/build/
/Lab3/DML_Query/nbproject/private/
/Lab4/ClientServerChat/nbproject/private/
/Lab4/ClientServerChat/build/
/Lab3/DML_Query/build/
/Lab4/URL/nbproject/private/
/Lab4/WorkingwithURL/nbproject/private/
/Lab4/WorkingwithURL/build/
/Lab4/ReadFromURL/nbproject/private/
/Lab4/ReadFromURL/build/
